<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
    {{#users}}
        <li><a href='/users/{{id}}'>{{login}}</a></li>
    {{/users}}
    </ul>
    <br/>
    <form action="/users" method="POST">
        Description:<br>
        <input type="text" name="login"><br>
        <input type="submit" value="Submit">
    </form>      
</body>
</html>